<h5>Comments:</h5>
<% show_post ||= nil %>

<% comments.reject(&:new_record?).each do |comment| %>
  <div class="row">
    <%= render 'votes/vote', obj: comment %>

    <div class="well span8">
      <em><%= comment.body %> on <%= link_to comment.post.title, post_path(comment.post) if show_post %></em>
      <br>
      <span class="quiet">by</span>
      <a><%= link_to comment.author.username, user_path(comment.author.slug) %></a>
      <small>at <%= friendly_date(comment.created_at) %></small>
    </div>
  </div>
<% end %>
