<div class="span0 well text-center">
  <% if logged_in? %>
    <%= link_to vote_path(obj, true), method: 'post', remote: true do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <p>
      <span id="<%= vote_count_element_id(obj) %>">
        <%= pluralize obj.total_votes, 'vote' %>
      </span>
    </p>
    <%= link_to vote_path(obj, false), method: 'post', remote: true do %>
      <i class="icon-arrow-down"></i>
    <% end %>
  <% else %>
    <i class="icon-arrow-up"></i>
    <p><%= obj.total_votes %> Votes</p>
    <i class="icon-arrow-down"></i>
  <% end %>
</div>
