<div class="row">
  <%= render 'shared/vote', obj: post %>

  <div class="span8 well">
    <%= render post.categories %>

    <p><%= link_to post.title, full_url(post.url), targe: "_blank" %></p>
    <p><%= post.description %></p>
    <p><span class="quiet">posted by </span> <%= post.creator.username %>
    <small> at <%= friendly_date(post.created_at) %></small>
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>
</div>
