<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <div class="row">
      <div class="alert alert-error span8">
        <h5><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved</h5>
        <ul>
          <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="well">
    <div class="control-group">
      <%= f.label :name %>
    </div>
    <div class="control-group">
      <%= f.text_field :name %>
    </div>
    <div class="control-group">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
