<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
</ul>

<%= render 'categories/category_menu' %>

<% if logged_in? %>
  <div class="nav_item">
    <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small' %>
  </div>
<% end %>

<% if logged_out? %>
  <div class="nav_item">
    <%= link_to 'Register', register_path, class: 'btn btn-success btn-small' %>
  </div>
<% end %>

<% if logged_out? %>
  <div class="nav_item">
    <%= link_to 'Log in', login_path, class: 'btn btn-small' %>
  </div>
<% end %>

<% if logged_in? %>
  <%= render 'layouts/usermenu' %>
<% end %>
